<div>
    <label>Name <input type="text" ng-model="metadata.name"/></label>
</div>
<div>
    <label>Size X:<input type="number" ng-model="metadata.size.x"/></label>
</div>
<div>
    <label>Size Y:<input type="number>" ng-model="metadata.size.y"/></label>
</div>
<div>
    <button ng-click="setupBoard()">Set</button>
    <button ng-click="sendBoard()">Send Board</button>
</div>

<div id="messages" style="padding-top:20px">
</div>

<div style="padding-top:20px;">
    <div ng-repeat="color in colors">
        <label><input type="radio" ng-model="$parent.selectedColor" ng-value="color">{{color.name}}</label>
    </div>
    <div>
        {{selectedColor}}
    </div>
</div>