<div style="display: none; padding-top:50px" id="playpanel">
    <div>
        <label>Room Name: <input type="text" ng-model="$parent.roomName"/></label>
    </div>
    <div>
        <label>Your Name: <input type="text" ng-model="$parent.playerName"/></label>
    </div>
    <div>
        <label>Players:</label>
            <!--<span ng-repeat="n in [2,3,4]">-->
            <span>
                <button ng-click="$parent.players = 2;">2</button>
                <button ng-click="$parent.players = 3;">3</button>
                <button ng-click="$parent.players = 4;">4</button>
            </span>
        </div>
    <div>
        <label>
            Map:
            <select ng-model="$parent.mapservice.selectedMap">
                <option ng-repeat="map in $parent.mapservice.maps" value="{{map.name}}">{{map.name}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>Password: <input type="password" ng-model="$parent.password"/></label>
        <label>Private: <input type="checkbox" ng-model="$parent.isPrivate"/></label>
    </div>
    <div>
        <button ng-click="$parent.createNewGame()">Create Game</button>
    </div>
    <div id="gamelink"></div>
</div>