<div class="col-offset-2 col-md-8">
    <div>
        <div class="col-lg-6">
            <input type="text" placeholder="Game ID" ng-model="$parent.adminGameID">
            <button class="btn btn-primary" ng-click="adminStatus()">Click</button>
        </div>
        <div class="col-lg-6">
            <div ng-repeat="game in games" class="btn-info" ng-click="adminStatus(game.gameid)">
                <span>{{game.gameid}}</span>
                <span>{{game.numPlayers}}</span>
            </div>
        </div>
    </div>

    <div class="center-block">
        <h2>{{$parent.adminGameObject.roomName}}</h2>
        <div ng-repeat="player in $parent.adminGameObject.players" class="col-md-3" style="float:left; border: 1px solid black; border-radius: 2px;">

            <h4><strong>{{player.name}}</strong></h4>

            <div ng-repeat="card in player.hand" class="btn-success" style="border: 1px solid black; border-radius: 2px;">
                {{card.suite}}{{card.size}}
            </div>
            <div style="height:5px;"></div>

            <div ng-repeat="card in player.deck" class="btn-info" style="border: 1px solid black; border-radius: 2px;">
                {{card.suite}}{{card.size}}
            </div>

            <div style="height:5px;"></div>

            <div ng-repeat="card in player.usedCards" class="btn-danger" style="border: 1px solid black; border-radius: 2px;">
                {{card.suite}}{{card.size}}
            </div>
        </div>
    </div>
</div>