<div>
    <label>Name <input type="text" ng-model="metadata.name"/></label>
</div>
<div>
    <label>Size X:<input type="number" ng-model="metadata.size.x"/></label>
</div>
<div>
    <label>Size Y:<input type="number>" ng-model="metadata.size.y"/></label>
</div>
<div>
    <button ng-click="setupBoard()">Set</button>
    <button ng-click="sendBoard()">Send Board</button>
</div>

<div id="messages" style="padding-top:20px">
</div>

<div>
    <label><input type="radio" value="paint" ng-model="editMode"> Paint </label>
    <label><input type="radio" value="city" ng-model="editMode"> City </label>
</div>
<div style="padding-top:20px;" ng-show="editMode=='paint'">
    <div ng-repeat="color in colors" >
        <label><input type="radio" ng-model="$parent.selectedColor" ng-value="color">{{color.name}}</label>
    </div>
    <div>
        {{selectedColor}}
    </div>
</div>

<div style="padding-top:20px" ng-show="editMode=='city'">
    <label><input type="checkbox" ng-model="cityModel.square"> Square </label>
    <label><input type="checkbox" ng-model="cityModel.circle"> Circle </label>
    <label><input type="checkbox" ng-model="cityModel.star"> Star </label>
</div>