<h5 style="border-bottom: 1px solid grey; margin-left: 5px; margin-right: 5px">
    {{game.roomName}} on {{game.mapName}}
</h5>
<div ng-repeat="state in game.state" class="clearfix">
    <span class="col-md-1" ng-style="{'background-color': '{{state.color}}'}" style="border-radius: 4px;">
         {{playerTurn($index)}}
    </span>
    <span class="col-md-4" style="overflow: hidden; white-space: nowrap;">
        {{state.player}}
    </span>
    <span ng-repeat="(k,v) in state.score" class="col-md-2" style="white-space: nowrap">
        <img ng-src="{{getSuiteSource(k)}}" class="smalltile"> {{v}}
    </span>
</div>


<div class="col-md-12" style="overflow-x: hidden; background-color: white;">
    <h5 style="border-bottom: 1px solid grey; margin-left: 5px; margin-right: 5px">
        Moves
    </h5>

    <div style="overflow-y: scroll; max-height: 70vh;">
        <div ng-repeat="move in reversedMoves" class="col-md-12">
            <div>
                <span class="col-md-5" style="white-space: nowrap; overflow: hidden;">
                   {{reversedMoves.length - $index}}-{{move.player}}:
                </span>
                <span class="col-md-7">
                    <span ng-repeat="m in move.moves" style="border: 1px solid grey; border-radius: 4px">
                        <img ng-src="{{getSuiteSource(m.suite)}}" class="smalltile">
                        <img ng-src="{{getNumberSource(m.size)}}" class="smalltile">
                    </span>
                </span>
            </div>
            <div>
                <span ng-repeat="resolve in move.resolve" style="background-color: lightgray; border-radius: 3px;">
                    {{resolve.player}} => <img ng-src="{{getSuiteSource(resolve.type)}}" class="smalltile">
                </span>
            </div>
        </div>
    </div>
</div>

