<h5 style="border-bottom: 1px solid grey; margin-left: 5px; margin-right: 5px">
    {{game.roomName}} on {{game.mapName}}
</h5>
<div ng-repeat="state in game.state" class="clearfix">
    <span class="col-md-1" ng-style="{'background-color': '{{state.color}}'}" style="border-radius: 4px;">
         {{playerTurn($index)}}
    </span>
    <span class="col-md-4" style="overflow: hidden; white-space: nowrap;">
        {{state.player}}
    </span>
    <span ng-repeat="(k,v) in state.score" class="col-md-2" style="white-space: nowrap">
        <img ng-src="{{getSuiteSource(k)}}" class="smalltile"> {{v}}
    </span>
</div>


<div class="col-md-12" style="background-color: white; padding: 0">
    <h5 style="border-bottom: 1px solid grey; margin-left: 5px; margin-right: 5px">
        Moves
    </h5>

    <div style="overflow-y: scroll; max-height: 40vh;">
        <div ng-repeat="move in reversedMoves" class="col-md-12 move-element">
            <div style="white-space: nowrap; overflow: hidden;">
               Turn {{reversedMoves.length - $index}}-{{move.player}}
            </div>
            <div style="margin: auto;">
                <span ng-repeat="m in move.moves" style="border: 1px solid grey; border-radius: 4px">
                    <img ng-src="{{getSuiteSource(m.suite)}}" class="smalltile">
                    <img ng-src="{{getNumberSource(m.size)}}" class="smalltile">
                </span>
            </div>
            <div ng-show="move.resolve">
                <div style="margin-top: 5px; border-top: 1px solid gray;">Resolve</div>
                <div ng-repeat="resolve in move.resolve" style="background-color: lightgray; border-radius: 3px; border: 1px solid black; padding: 2px; width: 50%; margin-left: 25%;">
                    {{resolve.player}} => <img ng-src="{{getSuiteSource(resolve.type)}}" class="smalltile">
                </div>
            </div>
        </div>
    </div>
</div>

