<h5 style="border-bottom: 1px solid grey; margin-left: 5px; margin-right: 5px">
    {{game.roomName}} on {{game.mapName}}
</h5>
<div ng-repeat="state in game.state" class="clearfix">
    <span class="col-md-offset-1 col-md-4" style="overflow: hidden; white-space: nowrap;">
        {{state.player}}
    </span>
    <span ng-repeat="(k,v) in state.score" class="col-md-2" style="white-space: nowrap">
        <img ng-src="{{getScoreSource(k)}}"> {{v}}
    </span>
</div>


<div style="overflow-x: hidden; background-color: white;">
    <h5 style="border-bottom: 1px solid grey; margin-left: 5px; margin-right: 5px">
        Moves
    </h5>

    <div ng-repeat="move in game.moveList">
        <span style="margin-left: 5px">{{$index}}-{{move.player}}:</span>
        <span ng-repeat="m in move.moves" style="border: 1px solid red; border-radius: 4px">
            {{m.suite}}{{m.size}}
        </span>
    </div>
</div>

