<div class="col-lg-offset-2 col-lg-8">

    <div class="homeEntry">
        <h4 class="entryHeader">Version 1.0.1 </h4>
        <div style="text-align: left">
            Bugfixes
        </div>
    </div>
    <div class="homeEntry">
        <h4 class="entryHeader">Samurai betatest</h4>
        <ul style="text-align: left">
            <li>There might be bugs</li>
            <li>There might be more bugs</li>
            <li>I have found bugs</li>
            <li>but there are samurais</li>
        </ul>
    </div>
</div>
