<div ng-repeat="t in _hover.texts">
    <div>{{t}}</div>
</div>
<div ng-repeat="score in _hover.cityScores">
     <img ng-src="{{getSuiteSource(score.type)}}" class="smalltile">
    <span class="hover-cityscore" ng-style="{'color': player.color}" ng-repeat="player in score.scores">
        {{player.influence}}
    </span>
</div>
<div ng-repeat="move in _hover.move">
    <div>{{move.player}}'s <img ng-src="{{getSuiteSource(move.type)}}" class="smalltile"/><span ng-style="{'color': move.color}" class="hover-cityscore">{{move.influence}}</span></div>
    <div style="padding-top: 5px">
        Gives <span ng-style="{'color': move.color}" class="hover-cityscore">{{move.influence}}</span> influence to {{move.influenceType}} in adjacent city tiles
    </div>
</div>