<div>
    <h3>Join Game</h3>
    <input type="text" placeholder="Game ID" ng-model="$parent.joinGameID">
    <input type="text" placeholder="Yer Name" ng-model="$parent.joinGamePlayerID">
    <button class="btn btn-primary" ng-click="joinGame()">Join</button>
</div>
<div>
    <h3>Open Game</h3>
    <input type="text" placeholder="Game ID" ng-model="$parent.joinGameID">
    <input type="text" placeholder="Yer Name" ng-model="$parent.playerName">
    <button class="btn btn-primary" ng-click="openGame()">Open</button>
</div>
<div>
    <h3>Replay Game</h3>
    <input type="text" placeholder="Game ID" ng-model="$parent.joinGameID">
    <button class="btn btn-primary" ng-click="replayGame()">Open</button>
</div>