<div class="col-lg-2"></div>
<div class="form-inline col-lg-8 smallpadding"id="playpanel">
    <div class="form-group col-lg-12">
        <label class="control-label col-lg-3" for="name"> Room </label>
        <input class="col-lg-9" id="name" type="text" ng-model="$parent.roomName" placeholder="Enter a room name"/>
    </div>
    <div class="form-group col-lg-12 smallpadding">
        <label class="control-label col-lg-3">Players</label>
            <span class="col-lg-3">
                <button class="btn btn-xs" ng-class="{'btn-primary': $parent.players == 2}" ng-click="$parent.players = 2;">2</button>
                <button class="btn btn-xs" ng-class="{'btn-primary': $parent.players == 3}" ng-click="$parent.players = 3;">3</button>
                <button class="btn btn-xs" ng-class="{'btn-primary': $parent.players == 4}" ng-click="$parent.players = 4;">4</button>
            </span>
        <label class="col-lg-3">Map</label>
        <select class="col-lg-3" ng-model="$parent.mapservice.selectedMap">
            <option ng-repeat="map in $parent.mapservice.maps" value="{{map.name}}">{{map.name}}</option>
        </select>
    </div>
    <div class="form-group col-lg-12 smallpadding">
        <button class="btn btn-primary" ng-click="$parent.createNewGame()">Create Game</button>
    </div>
    <div id="gamelink"></div>
</div>
<div style="clear:both"></div>