<style>
    .img-sm {
        width: 16px;
        height: 16px;
    }

    .img-md {
        width: 25px;
        height: 20px;
    }

    .underline {
        text-decoration: underline;
    }
</style>

<div style="padding: 5px">
    <p>
    <h4>Resources</h4>
    <table>
        <tr>
            <td><img src="/img/politics64.png"></td>
            <td><img src="/img/eastindia64.png"></td>
            <td><img src="/img/buddhism64.png"></td>
        </tr>
        <tr>
            <td>Politics</td>
            <td>Trade</td>
            <td>Religion</td>
        </tr>
    </table>
    <p> These resource on a <img class="img-md" src="/img/citytile.png"> forms a city
    <p> Gaining the highest influence in one of these will yield 1 point. </p>

    <p>
    <h4>Tiles</h4>

    <h5 class="underline">Resource specific tiles</h5>
    <table>
        <tr>
            <td><img src="/img/politics64.png"></td>
            <td><img src="/img/eastindia64.png"></td>
            <td><img src="/img/buddhism64.png"></td>
        </tr>
        <tr>
            <td>Politics</td>
            <td>Trade</td>
            <td>Religion</td>
        </tr>
    </table>
    <p>These influence their respective resource</p>

    <h5 class="underline">Universal tiles</h5>
    <table>
        <tr>
            <td><img src="/img/samurai64.png"></td>
            <td><img src="/img/ronin64.png"></td>
            <td><img src="/img/sailboat64.png"></td>
        </tr>
        <tr>
            <td>Samurai</td>
            <td>Ronin</td>
            <td>Boat</td>
        </tr>
    </table>
    <p>These influence all 3 resources</p>

    <p>Only one tile can be placed each turn. Except for the Ronin and Boats, which are quick tiles and can be placed in
        addition to a normal tile.</p>
    <p>Tiles can only be placed on land <img class="img-md" src="/img/landtile.png"></p>
    <p>except boats which can be placed on water <img class="img-md" src="/img/oceantile.png"></p>

    <h4>Influence strength</h4>
    <table>
        <tr>
            <td><img src="/img/1.png"></td>
            <td><img src="/img/2.png"></td>
            <td><img src="/img/3.png"></td>
            <td><img src="/img/4.png"></td>
        </tr>
    </table>
    <p>Indicates influence strength for a tile</p>

    <h4>Winning resources</h4>
    <p>Influence for each player will be counted and highest influence wins the resource. Once a city tile</p>
    <p>
    <h5 class="underline">Example 1</h5>
    <img src="/img/example1.png">
    <p> Red player has the following influence: 3 <img src="/img/politics64.png" class="img-sm"> 3 <img
            src="/img/eastindia64.png" class="img-sm"> 5 <img src="/img/buddhism64.png" class="img-sm"></p>
    <p> Green player has the following influence: 7 <img src="/img/politics64.png" class="img-sm"> 5 <img
            src="/img/eastindia64.png" class="img-sm"> 3 <img src="/img/buddhism64.png" class="img-sm"></p>
    <p>Green scores 1 point in <img src="/img/politics64.png" class="img-sm"> <img src="/img/eastindia64.png"
                                                                                   class="img-sm"></p>
    <p>Red scores 1 point in <img src="/img/buddhism64.png" class="img-sm">
    </p>
    <p>
    <h5 class="underline">Example 2</h5>
    <img src="/img/example2.png">
    <p> Red player has the following influence: 2 <img src="/img/buddhism64.png" class="img-sm"> 4 <img
            src="/img/eastindia64.png" class="img-sm"> (but is useless for this town)</p>
    <p> Green player has the following influence: 6 <img src="/img/buddhism64.png" class="img-sm"></p>
    <p>Green scores 1 point in <img src="/img/buddhism64.png" class="img-sm"></p>
    </p>
    <p>Ties give no points. </p>
    <p>0 influence also give no points. </p>
</div>